<div class="mainBox">
    <div class="centerBox">
        <div class="formBox">
            <p>LOGOWANIE</p>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="formGroup">
                    <mat-form-field appearance="legacy" class="matForm">
                        <mat-label>Nazwa użytkownika</mat-label>
                        <input matInput formControlName="username" autocomplete="off">
                        <mat-error *ngIf="f.username.invalid">{{this.invalidUsername}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="formGroup">
                    <mat-form-field appearance="legacy" class="matForm">
                        <mat-label>Hasło</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" autocomplete="off">
                        <button class="hideButton" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="f.password.invalid">{{this.invalidPassword}}</mat-error>
                    </mat-form-field>
                </div>    
                <button routerLink="../registration" class="buttonClass">
                    Załóż konto
                </button>
                <button class="buttonClass">
                    Zaloguj się
                </button>
            </form>
        </div>
    </div>
</div>
