<div class="horizontalBox">
    <nav class="menuBox">
        <ul>
            <li class="categoryMenuBox"><a><img src="assets/images/threePoints.png" width="40px" height="40px"></a>
                <ul>
                    <form class="formBox">
                        <mat-form-field class="searchBox">
                            <mat-label class="searchLabel"><i class="material-icons">search</i>Szukaj</mat-label>
                            <input class="searchInput" matInput aria-label="Element" [matAutocomplete]="auto" [formControl]="elementCtrl" #trigger="matAutocompleteTrigger">
                            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="resetValue($event.option.value, trigger, auto)">
                                <mat-option class="optionBox" *ngFor="let element of elementData | async" [value]="element.title">
                                    <div class="elementBox" (click)="routeToBook(element.bookId)">
                                        <img [src]="coverConvert(element.coverImage)" width="80" height="120"/>
                                        <span>{{element.title}}</span> |
                                        <small>{{element.author}}</small> 
                                    </div>
                                </mat-option>
                            </mat-autocomplete>
                          </mat-form-field>
                    </form>
                    <a class="categoryElement" routerLink="" routerLinkActive="active">Przygodowa</a>
                    <a class="categoryElement" routerLink="" routerLinkActive="active">Horror</a>
                    <a class="categoryElement" routerLink="" routerLinkActive="active">Romans</a>
                    <a class="categoryElement" routerLink="" routerLinkActive="active">Fantasy</a>
                    <a class="categoryElement" routerLink="" routerLinkActive="active">Thriller</a>
                </ul>
            </li>
            <li class="titleBox"><a routerLink="**" routerLinkActive="active"><img src="assets/images/logo.png" width="250px" height="125px"></a></li>
            <li class="loginBox" *ngIf="!isLoggedIn"><a routerLink="/account/login" routerLinkActive="active">Zaloguj się</a></li>
            <li class="profileBox" *ngIf="isLoggedIn"><a><img *ngIf="image" [src]="image" width="50px" height="50px"> {{username}}</a>
                <ul>
                    <a class="profileElement" routerLink="/account/profile" routerLinkActive="active">Mój Profil</a>
                    <a class="profileElement" routerLink="/account/yourBooks" routerLinkActive="active">Moje Książki</a>
                    <a class="profileElement" *ngIf="isAdmin" routerLink="/account/addBook" routerLinkActive="active">Dodaj Książkę</a>
                    <a class="profileElement" *ngIf="isAdmin" routerLink="/account/roles" routerLinkActive="active">Nadaj Rolę</a>
                    <a class="profileElement" (click)="logout()">Wyloguj</a>
                </ul>
            </li>
        </ul>
    </nav>
</div>

<router-outlet></router-outlet>